name: build nodejs Application

on:
 workflow_dispatch:
 push:

jobs:
  job1:
   continue-on-error: true   # Even if one matrix combo fails, workflow continues

   strategy:
     matrix:
      node-version: [12,16,18]            # Variable 1
      operating-system: [ubuntu-latest, windows-latest]  # Variable 2


   runs-on: ${{ matrix.operating-system }}   # Runner changes per matrix

   steps:
    - name: Clone the repo
      uses: actions/checkout@v4

    - name: Install nodejs
      uses: actions/setup-node@v4
      with:
          node-version: ${{ matrix.node-version }}   # Node version changes
          cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Executes test cases
      run: npm test

    - name: Build the code
      run: npm run build

    - name: Deploy the code
      run: echo 'Deploy the code'
